.header{
    display:flex;
    justify-content: space-between;
    padding: 0 2rem;
    background:#E5E4E2;
    .left{
        flex:1;
        background:#fff;
        margin: 1rem 0;
        padding:1.5rem;
        border-radius: 0.3rem;
        .cat-items{
            display:flex;
            align-items: center;
            gap:1rem;
            margin-bottom:1rem;
            cursor:pointer;
            &:hover{
                color:#8A9A5B;
            }
            img{
                width:20px;
                height:20px;
                object-fit: cover;
            }
            span{
                text-transform: capitalize;
            }
            
        }
    }
    .center{
        flex:3;
        margin:1rem 1rem 0 1rem;
        border-radius: 0.3rem;
    }
    .right{
        flex:1;
        margin:1rem 0;
        .advert-1{
            background:#fff;
            padding:1.5rem;
            border-radius: 0.3rem;
            .advert-container{
                display:flex;
                align-items: center;
                gap:1rem;
                margin-bottom: 1rem;
                i{
                    border:1px solid black;
                    padding:0.5rem;
                    font-size: 18px;
                    border-radius: 50%;
                }
                p{
                    text-transform: capitalize;
                }
            }
        }
       .advert-2{
        width:100%;
        margin-top:2rem;
        .advert-icon{
            img{
                width:100%;
                object-fit: cover;
                border-radius: 0.3rem;
            }
        }
       }
    }
}