.sell{
    background:#E5E4E2;
    width:100%;
    display:flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    .left{
        width:50%;
        display:flex;
        gap:0.5rem;
        color:crimson;
    }
    .right{
        width:50%;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        gap:0.5rem;
        p{
            font-weight: 900;
            font-family: 'Josefin Sans', sans-serif;
        }
        i{
            color: #8A9A5B;
        }
    }
    
}